The purpose is to provide information on current publications about a particular topic.

describe the literature on a particular topic.
identify various important issues/questions raised.
sort and categorize experts’ views according to the issues/questions identified.

provide your audience(another researcher who is interested) with an overview of what the experts are saying.

create a grid of common points among the articles


make connections between sources by topic.
compare and contrast the authors’ views.

at least 15 relevant articles

decide what pieces of information to include

focus on causes and effects  as well as strategies suggested by authors.

    • Is it accurate?
    • Is it complete?
    • Is it up-to-date?
    • Is it unbiased?
    • Is it supported by evidence my readers will find compelling?
    • Does it conflict with other evidence?
    • Is it clearly relevant to my readers’ situation?

construct a grid of common points.
briefly describes how each of your sources respond to this issue.

illustrate how the sources agree; how the sources disagree;

organizing your report by key points, not by source. 

remain objective and unbiased
report on what has been written recently about your topic.

the subject of the paper is the literature.

carefully introduce and identify sources consistently.


Introduction (): 
  a brief introduction to the literature review
    introduce the purpose and scope of the literature review

Body (3 pages or more, single-spaced): 
  section for each issue with relevant headings
    introduce the issue
    how the articles respond to that issue.
    concluding sentence

Conclusion (¼ page):
  Summarize what the literature says about your topic. 

Documented in APA style
